<div class="col-xs-12 col-md-9 content">
	
	<div class="post-meta">
			{{ page.date | date: "%-d %b %Y" }} 

			{% unless page.categories == empty %}
				<ul class="tags list-inline list-unstyled">
					<li> - <b>Categories:</b> </li>
					{% assign categories_list = page.categories %}
					{% include JB/categories_list %}
				</ul>	
			{% endunless %}
				 
			{% unless page.tags == empty %}
				<ul class="tags list-inline list-unstyled">
					<li> <b>Tags: </b></li>
					{% assign tags_list = page.tags %}
					{% include JB/tags_list %}
				</ul>
			{% endunless %}
	</div>

	<div>
		{{ content }}
	</div>

	<div class="text-center">
		<ul class="pager">
			{% assign admit = "diary" %}
			{% include themes/afr/labnotebook_pager %}
		</ul>
	</div>
	<div class="row">
		{% include JB/comments %}
	</div>
</div><!-- ./col -->

<!-- Sidebar -->
<div class="col-xs-12 col-md-3 sidebar">
	<h4> Latest posts: </h4>
	<ul class="posts">  
		{% for post in site.posts limit:5 %}
		   <li>  
			   <span>{{ post.date | date: "%D" }}</span> - 
			   <a href="{{ BASE_PATH }}{{ post.url }}">  
			   {{ post.title }}</a>  
		   </li>  
		{% endfor %}
	</ul>

	<h4> All categories: </h4>
	<ul class="tags list-inline list-unstyled">
		{% assign categories_list = site.categories %}
		{% include JB/categories_list %}
	</ul>

	<h4> All tags: </h4>
	<ul class="tags list-inline list-unstyled">
		{% assign tags_list = site.tags %}
		{% include JB/tags_list %}
	</ul>
</div><!-- ./col -->
