<div class="col-xs-12 col-md-9 content">
	<br>
	<div class="post-meta">
		<ul class="list-inline">
			<li>{{ page.date | date: "%-d %b %Y" }}</li>
			<li>
				<button type="button" class="btn btn-default btn-xs glyphicon glyphicon-time">
					<a href="{{ site.repository_url }}/commits/gh-pages/{{ page.path }}"> Versions</a>
				</button>
			</li>
			<br>
			<br>
			{% unless page.categories == empty %}
				<li><b>Categories:</b>
					<ul class="tags list-inline list-unstyled">
						{% assign categories_list = page.categories %}
						{% include JB/categories_list %}
					</ul>
				</li>
			{% endunless %}
			<br>
			<br>
			{% unless page.tags == empty %}
				<li><b>Tags:</b>
					<ul class="tags list-inline list-unstyled">
						{% assign tags_list = page.tags %}
						{% include JB/tags_list %}
					</ul>
				</li>
			{% endunless %}
		</ul>
	</div>

	<div>
		{{ content }}
	</div>

	<div class="text-center">
		<ul class="pager">
			{% assign exclude = "diary" %}
			{% include themes/afr/posts_pager %}
		</ul>
	</div>
	<div class="row">
		{% include JB/comments %}
	</div>
</div><!-- ./col -->

<!-- Sidebar -->
<div class="col-xs-12 col-md-3 sidebar">
	<div>
		<a href="{{ site.repository_url }}/blob/gh-pages/{{ page.path }}"> View post's source
			<button type="button" class="btn btn-default btn-xs glyphicon glyphicon-pencil"></button>
		</a>
	</div>

	<h4> Latest posts: </h4>
	<ul class="posts">
		{% for post in site.posts limit:5 %}
			{% if post.category != "diary" %}
			   <li>
				   <span>{{ post.date | date: "%D" }}</span> -
				   <a href="{{ BASE_PATH }}{{ post.url }}">
				   {{ post.title }}</a>
			   </li>
			{% endif %}
		{% endfor %}
	</ul>

	<h4> All categories: </h4>
	<ul class="tags list-inline list-unstyled">
		{% assign categories_list = site.categories %}
		{% include JB/categories_list %}
	</ul>

	<h4> All tags: </h4>
	<ul class="tags list-inline list-unstyled">
		{% assign tags_list = site.tags %}
		{% include JB/tags_list %}
	</ul>

</div><!-- ./col -->
