

html, body {
	height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

.navbar-brand {
	font-weight: bold;
}

.row, .row-fluid {
	margin-bottom: 20px;
}

.post-meta {
	margin-top: -30px;
	margin-bottom: 40px;
}

.content {
	border-right: 1px solid #EDEDED;
}

.sidebar {
	min-height: 300px;
}

.posts {
	list-style: none;
	padding-left: 2px;
}

.footer {
	height: 60px;
	line-height: 10px;
}

.licence {
	position: absolute;
	right: 5px ;
	bottom: 50%;
}

/* tags */

.tags {
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
}
.tags a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color: #005F6B;
	border-radius: 3px;
	text-decoration: none;
}
.tags a span{
	vertical-align:super;
	font-size: 0.8em;
}
.tags a.active {
	background: #57A957;
	border: 1px solid #4C964D;
	color: #FFF;
}

.tags > li {
	display: inline;
}